.contact-box{
    transition: transform 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.contact-box:hover {
    transform: translateY(-3px);
}

.form{
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
}


.icon {
    border: 2px dotted rgba(224, 12, 47, 0.8);
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
}

.Information-box{
    margin-bottom: 70px;
    background-color: #101010;
    color:white;
    text-align: start;
    padding: 30px;
    
}

.Social-Icons i{
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px;
    font-weight: 900;
}

.Social-Icons i:hover{
    cursor: pointer;
    color: rgb(246, 58, 58);
    transition: all 0.3s ease-in-out;
}

.Information-box .Links a:hover{
    color:rgb(246, 58, 58) ;
    transition: all 0.3s ease-in-out;

}